/*
====================================
------------------------------------
1. General
2. Footer
-------------------------------------
=====================================
*/


/*
    GENERAL
------------------------------------ */

body,
html {
    overflow-x: hidden;
    font-family: 'Raleway', serif;
}
body {
    line-height: 28px;
    font-weight: 300;
    font-size: 20px;
    color: #282828;
    /*
    background-color: #fff;
    background-image: linear-gradient(to top, #fff, #918e82 90%);
    background-attachment: fixed;
    position: absolute;
*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased !important;
}
h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    color: #000;
}
p {
    color: blue;
}
.button {
    background-color: blue;
}

/*
    HEADER
------------------------------------ */

.header {
    background-color: #000;
    background-image: linear-gradient(to bottom, #000, #918e82 1000%);
    background-attachment: fixed;
}
.color {
    background-color: #fff;
    background-image: linear-gradient(to bottom, #000, #918e82 300%);
    background-attachment: fixed;
    height: 546px;
}
h1 {
    color: blue;
    font-weight: 600;
    border-bottom: 3px double blue;
}
h3,
h5 {
    font-weight: 600;
    color: blue;
}
.two {
    background-color: red;
}
.two:hover {
    background-color: darkred;
}

/*
    FOOTER
------------------------------------ */

.footer p {
    color: blue;
    text-align: center;
}
